In [45]:
# importing dependencies 
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup
import requests
import time

In [46]:
# URL of page to be scraped
domain = 'https://www.fws.gov/'
url = f'{domain}/refuges/databases/ThreatenedEndangeredSpecies/ThreatenedEndangered_Display.cfm'
response = requests.get(url)

In [47]:
# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(response.content, 'html.parser')

In [48]:
# Extract tables
table = soup.find_all('table')[1]
df = pd.read_html(str(table))[1]

In [53]:
# Showing dataframe 
df

,Organism Type,Species Name,Federal Status,Unit Name,State
0,Organism Type,Species Name,Federal Status,Unit Name,State
1,Amphibian,Arroyo Toad,Endangered,San Diego NWR,CA
2,Amphibian,California Red-legged Frog,Endangered,Guadalupe-Nipomo Dunes NWR,CA
3,Amphibian,California Red-legged Frog,Endangered,San Diego NWR,CA
4,Amphibian,Cheat Mountain Salamander,Threatened,Canaan Valley NWR,WV
...,...,...,...,...,...
961,Snail,Oahu Tree Snail - Achatinella decipiens,Endangered,Oahu Forest NWR,HI
962,Snail,Oahu Tree Snail - Achatinella leucorraphe,Endangered,Oahu Forest NWR,HI
963,Snail,Oahu Tree Snail - Achatinella sowerbyana,Endangered,Oahu Forest NWR,HI
964,Snail,Round rocksnail,Threatened,Cahaba River National Wildlife Refuge,AL
965,Snail,Stock Island Tree Snail,Threatened,National Key Deer Refuge,FL

In [50]:
# renaming columns
df.columns = ['Organism Type', 'Species Name', 'Federal Status', 'Unit Name', 'State']
df

,Organism Type,Species Name,Federal Status,Unit Name,State
0,Organism Type,Species Name,Federal Status,Unit Name,State
1,Amphibian,Arroyo Toad,Endangered,San Diego NWR,CA
2,Amphibian,California Red-legged Frog,Endangered,Guadalupe-Nipomo Dunes NWR,CA
3,Amphibian,California Red-legged Frog,Endangered,San Diego NWR,CA
4,Amphibian,Cheat Mountain Salamander,Threatened,Canaan Valley NWR,WV
...,...,...,...,...,...
961,Snail,Oahu Tree Snail - Achatinella decipiens,Endangered,Oahu Forest NWR,HI
962,Snail,Oahu Tree Snail - Achatinella leucorraphe,Endangered,Oahu Forest NWR,HI
963,Snail,Oahu Tree Snail - Achatinella sowerbyana,Endangered,Oahu Forest NWR,HI
964,Snail,Round rocksnail,Threatened,Cahaba River National Wildlife Refuge,AL
965,Snail,Stock Island Tree Snail,Threatened,National Key Deer Refuge,FL

In [68]:
# Pulling all plants from dataframe
plants_df = df.loc[df['Organism Type'] == 'Plant']
plants_df

,Organism Type,Species Name,Federal Status,Unit Name,State
681,Plant,"Pogogyne abramsii, San Diego mesa mint",Endangered,San Diego NWR,CA
682,Plant,"Pogogyne nudiuscula, Otay mesa mint",Endangered,San Diego NWR,CA
683,Plant,"Aconitum noveboracense, Northern Wild Monkshood",Endangered,Driftless Area NWR,IA
684,Plant,"Aeschynomene virginica, Sensitive Joint-vetch",Threatened,Mattamuskeet NWR,NC
685,Plant,"Agalinis acuta, sandplain gerardia",Endangered,Wertheim NWR,NY
...,...,...,...,...,...
807,Plant,"Stahlia monosperma, Cobana negra",Threatened,Cabo Rojo NWR,PR
808,Plant,"Stahlia monosperma, Cobana negra",Threatened,Vieques NWR,PR
809,Plant,"Tetraplasandra gymnocarpa, no common name",Endangered,Oahu Forest NWR,HI
810,Plant,"Trifolium stoloniferum, Running Buffalo Clover",Threatened,Ottawa NWR,OH
811,Plant,"Viola oahuensis, no common name",Endangered,Oahu Forest NWR,HI

In [70]:
# All animals df 
mammals_df = df.loc[df['Organism Type'] == 'Mammal']
mammals_df

,Organism Type,Species Name,Federal Status,Unit Name,State
523,Mammal,Alabama Beach Mouse,Endangered,Bon Secour NWR,AL
524,Mammal,Blue Whale,Endangered,Alaska Maritime NWR,AK
525,Mammal,Bowhead Whale,Endangered,Alaska Maritime NWR,AK
526,Mammal,Bowhead Whale,Endangered,Arctic NWR,AK
527,Mammal,Columbian White-tailed Deer,Endangered,Lewis and Clark NWR,OR
...,...,...,...,...,...
675,Mammal,West Indian (=Florida) Manatee,Endangered,Wolf Island NWR,GA
676,Mammal,West Indian (=Florida) Manatee,Endangered,St. Marks NWR,FL
677,Mammal,West Indian (=Florida) Manatee,Endangered,Pelican Island NWR,FL
678,Mammal,West Indian (=Florida) Manatee,Endangered,Savannah NWR,"GA, SC"
679,Mammal,West Indian (=Florida) Manatee,Endangered,Pinellas NWR,FL

In [72]:
#Birds
bird_df = df.loc[df['Organism Type'] == 'Bird']
bird_df

,Organism Type,Species Name,Federal Status,Unit Name,State
9,Bird,Akiapolaau,Endangered,Hakalau Forest NWR,HI
10,Bird,Attwater's Greater Prairie-chicken,Endangered,Attwater Prairie Chicken NWR,TX
11,Bird,Attwater's Greater Prairie-chicken,Endangered,Aransas NWR,TX
12,Bird,Audubon's Crested Caracara,Threatened,Arthur R. Marshall Loxahatchee NWR,FL
13,Bird,Bachman's Warbler,Endangered,Ernest F. Hollings ACE Basin NWR,SC
...,...,...,...,...,...
416,Bird,Wood Stork,Endangered,Arthur R. Marshall Loxahatchee NWR,FL
417,Bird,Wood Stork,Endangered,Banks Lake NWR,GA
418,Bird,Wood Stork,Endangered,Blackbeard Island NWR,GA
419,Bird,Yellow-shouldered Blackbird,Endangered,Cabo Rojo NWR,PR
420,Bird,Yellow-shouldered Blackbird,Endangered,Laguna Cartagena NWR,PR