In [23]:
# Modules to run code
import csv
import pandas as pd

In [24]:
# Import .csdv files from Resources folder
PopData = pd.read_csv('../data/csvpopData_2.csv')

In [25]:
# Showing dataframe

PopData

,rank,State,Pop,Growth,Pop2018,Pop2010,growthSince2010,Percent,density
0,1,CA,39937500,0.0096,39557000,37320900,0.0701,0.1194,256.3728
1,2,TX,29472300,0.0268,28701800,25242700,0.1676,0.0881,112.8204
2,3,FL,21993000,0.0326,21299300,18845800,0.1670,0.0658,410.1259
3,4,NY,19440500,-0.0052,19542200,19400100,0.0021,0.0581,412.5218
4,5,PA,12820900,0.0011,12807100,12711200,0.0086,0.0383,286.5454
5,6,IL,12659700,-0.0064,12741100,12840800,-0.0141,0.0379,228.0246
6,7,OH,11747700,0.0050,11689400,11539300,0.0181,0.0351,287.5040
7,8,GA,10736100,0.0206,10519500,9711810,0.1055,0.0321,186.6726
8,9,NC,10611900,0.0220,10383600,9574290,0.1084,0.0317,218.2710
9,10,MI,10045000,0.0049,9995920,9877540,0.0170,0.0300,177.6650
10,11,NJ,8936570,0.0031,8908520,8799620,0.0156,0.0267,1215.1985
11,12,VA,8626210,0.0127,8517680,8023680,0.0751,0.0258,218.4404
12,13,WA,7797100,0.0347,7535590,6742900,0.1563,0.0233,117.3273
13,14,AZ,7378490,0.0288,7171650,6407770,0.1515,0.0221,64.9549
14,15,MA,6976600,0.0108,6902150,6566430,0.0625,0.0209,894.4359
15,16,TN,6897580,0.0188,6770010,6355300,0.0853,0.0206,167.2749
16,17,IN,6745350,0.0080,6691880,6490440,0.0393,0.0202,188.2809
17,18,MO,6169270,0.0070,6126450,5995980,0.0289,0.0185,89.7453
18,19,MD,6083120,0.0067,6042720,5788640,0.0509,0.0182,626.6735
19,20,WI,5851750,0.0066,5813570,5690480,0.0283,0.0175,108.0496
20,21,CO,5845530,0.0263,5695560,5048280,0.1579,0.0175,56.4012
21,22,MN,5700670,0.0159,5611180,5310840,0.0734,0.0170,71.5922
22,23,SC,5210100,0.0248,5084130,4635660,0.1239,0.0156,173.3176
23,24,AL,4908620,0.0042,4887870,4785450,0.0257,0.0147,96.9221
24,25,LA,4645180,-0.0032,4659980,4544530,0.0221,0.0139,107.5174
25,26,KY,4499690,0.0070,4468400,4348200,0.0348,0.0135,113.9566
26,27,OR,4301090,0.0263,4190710,3837530,0.1208,0.0129,44.8086
27,28,OK,3954820,0.0030,3943080,3759630,0.0519,0.0118,57.6546
28,29,CT,3563080,-0.0027,3572660,3579120,-0.0045,0.0107,735.8695
29,30,UT,3282120,0.0383,3161100,2775330,0.1826,0.0098,39.9430
30,31,IA,3179850,0.0075,3156140,3050770,0.0423,0.0095,56.9284
31,32,NV,3139660,0.0347,3034390,2702460,0.1618,0.0094,28.5993
32,33,AR,3039000,0.0084,3013820,2921980,0.0400,0.0091,58.4030
33,34,PR,3032160,-0.0510,3195150,3721520,-0.1852,0.0091,876.6002
34,35,MS,2989260,0.0009,2986530,2970540,0.0063,0.0089,63.7056
35,36,KS,2910360,-0.0004,2911500,2858210,0.0182,0.0087,35.5968
36,37,NM,2096640,0.0006,2095430,2064590,0.0155,0.0063,17.2850
37,38,NE,1952570,0.0121,1929270,1829540,0.0672,0.0058,25.4161
38,39,ID,1826160,0.0410,1754210,1570770,0.1626,0.0055,22.0970
39,40,WV,1778070,-0.0154,1805830,1854210,-0.0411,0.0053,73.9691
40,41,HI,1412690,-0.0055,1420490,1363960,0.0357,0.0042,219.9424
41,42,NH,1371250,0.0109,1356460,1316780,0.0414,0.0041,153.1610
42,43,ME,1345790,0.0055,1338400,1327630,0.0137,0.0040,43.6336
43,44,MT,1086760,0.0230,1062300,990722,0.0969,0.0033,7.4668
44,45,RI,1056160,-0.0011,1057320,1053940,0.0021,0.0032,1021.4313
45,46,DE,982895,0.0163,967171,899595,0.0926,0.0029,504.3073
46,47,SD,903027,0.0236,882235,816165,0.1064,0.0027,11.9116
47,48,ND,761723,0.0022,760077,674710,0.1290,0.0023,11.0393
48,49,AK,734002,-0.0047,737438,713906,0.0281,0.0022,1.2863
49,50,DC,720687,0.0260,702455,605085,0.1911,0.0022,11814.5410
50,51,VT,628061,0.0028,626299,625880,0.0035,0.0019,68.1416
51,52,WY,567025,-0.0185,577737,564483,0.0045,0.0017,5.8400

In [26]:
# Deleting columns from Dataframe
cleaned = PopData.drop(columns=['rank','Growth','Pop2018','Pop2010','growthSince2010', 'Percent'])

In [27]:
# reading in csv with lat long
latdf = pd.read_csv('../data/Lat_long_states.csv') 
latdf

   State        Lat        Long
0     WI  44.500000  -89.500000
1     WV  39.000000  -80.500000
2     VT  44.000000  -72.699997
3     TX  31.000000 -100.000000
4     SD  44.500000 -100.000000
5     RI  41.700001  -71.500000
6     OR  44.000000 -120.500000
7     NY  43.000000  -75.000000
8     NH  44.000000  -71.500000
9     NE  41.500000 -100.000000
10    KS  38.500000  -98.000000
11    MS  33.000000  -90.000000
12    IL  40.000000  -89.000000
13    DE  39.000000  -75.500000
14    CT  41.599998  -72.699997
15    AR  34.799999  -92.199997
16    IN  40.273502  -86.126976
17    MO  38.573936  -92.603760
18    FL  27.994402  -81.760254
19    NV  39.876019 -117.224121
20    ME  45.367584  -68.972168
21    MI  44.182205  -84.506836
22    GA  33.247875  -83.441162
23    HI  19.741755 -155.844437
24    AK  66.160507 -153.369141
25    TN  35.860119  -86.660156
26    VA  37.926868  -78.024902
27    NJ  39.833851  -74.871826
28    KY  37.839333  -84.270020
29    ND  47.650589 -100.437012
30    MN  46.392410  -94.636230
31    OK  36.084621  -96.921387
32    MT  46.965260 -109.533691
33    WA  47.751076 -120.740135
34    UT  39.419220 -111.950684
35    CO  39.113014 -105.358887
36    OH  40.367474  -82.996216
37    AL  32.318230  -86.902298
38    IA  42.032974  -93.581543
39    NM  34.307144 -106.018066
40    SC  33.836082  -81.163727
41    PA  41.203323  -77.194527
42    AZ  34.048927 -111.093735
43    MD  39.045753  -76.641273
44    MA  42.407211  -71.382439
45    CA  36.778259 -119.417931
46    ID  44.068203 -114.742043
47    WY  43.075970 -107.290283
48    NC  35.782169  -80.793457
49    LA  30.391830  -92.329100

In [28]:
# merging pop df and lat long df on state 
merged_pop_df = pd.merge(cleaned,latdf, on='State', how='left')
merged_pop_df

   State       Pop     density        Lat        Long
0     CA  39937500    256.3728  36.778259 -119.417931
1     TX  29472300    112.8204  31.000000 -100.000000
2     FL  21993000    410.1259  27.994402  -81.760254
3     NY  19440500    412.5218  43.000000  -75.000000
4     PA  12820900    286.5454  41.203323  -77.194527
5     IL  12659700    228.0246  40.000000  -89.000000
6     OH  11747700    287.5040  40.367474  -82.996216
7     GA  10736100    186.6726  33.247875  -83.441162
8     NC  10611900    218.2710  35.782169  -80.793457
9     MI  10045000    177.6650  44.182205  -84.506836
10    NJ   8936570   1215.1985  39.833851  -74.871826
11    VA   8626210    218.4404  37.926868  -78.024902
12    WA   7797100    117.3273  47.751076 -120.740135
13    AZ   7378490     64.9549  34.048927 -111.093735
14    MA   6976600    894.4359  42.407211  -71.382439
15    TN   6897580    167.2749  35.860119  -86.660156
16    IN   6745350    188.2809  40.273502  -86.126976
17    MO   6169270     89.7453  38.573936  -92.603760
18    MD   6083120    626.6735  39.045753  -76.641273
19    WI   5851750    108.0496  44.500000  -89.500000
20    CO   5845530     56.4012  39.113014 -105.358887
21    MN   5700670     71.5922  46.392410  -94.636230
22    SC   5210100    173.3176  33.836082  -81.163727
23    AL   4908620     96.9221  32.318230  -86.902298
24    LA   4645180    107.5174  30.391830  -92.329100
25    KY   4499690    113.9566  37.839333  -84.270020
26    OR   4301090     44.8086  44.000000 -120.500000
27    OK   3954820     57.6546  36.084621  -96.921387
28    CT   3563080    735.8695  41.599998  -72.699997
29    UT   3282120     39.9430  39.419220 -111.950684
30    IA   3179850     56.9284  42.032974  -93.581543
31    NV   3139660     28.5993  39.876019 -117.224121
32    AR   3039000     58.4030  34.799999  -92.199997
33    PR   3032160    876.6002        NaN         NaN
34    MS   2989260     63.7056  33.000000  -90.000000
35    KS   2910360     35.5968  38.500000  -98.000000
36    NM   2096640     17.2850  34.307144 -106.018066
37    NE   1952570     25.4161  41.500000 -100.000000
38    ID   1826160     22.0970  44.068203 -114.742043
39    WV   1778070     73.9691  39.000000  -80.500000
40    HI   1412690    219.9424  19.741755 -155.844437
41    NH   1371250    153.1610  44.000000  -71.500000
42    ME   1345790     43.6336  45.367584  -68.972168
43    MT   1086760      7.4668  46.965260 -109.533691
44    RI   1056160   1021.4313  41.700001  -71.500000
45    DE    982895    504.3073  39.000000  -75.500000
46    SD    903027     11.9116  44.500000 -100.000000
47    ND    761723     11.0393  47.650589 -100.437012
48    AK    734002      1.2863  66.160507 -153.369141
49    DC    720687  11814.5410        NaN         NaN
50    VT    628061     68.1416  44.000000  -72.699997
51    WY    567025      5.8400  43.075970 -107.290283

In [29]:
# Export to csv
merged_pop_df.to_csv("../data/cleanedPop_lat_Data.csv", index=False)